/* TOPBAR */

.topbar {
  position: absolute;
  overflow: hidden;
  background-color: #333;
  left: -1px;
  top: 0px;
  width: 2053px;
  height: 45px;
  z-index: 188;
}

.topbar a {
  float: left;
  display: block;
  color: #999999;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}
.topbar a:hover
{
  color: #00c8c8;
}

.topbar a.topbar_cart
{
  background-color:#00c8c8;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1463px;
  top: -1px;
  width: 147px;
  height: 45px;
  z-index: 190;
}

.topbar a.currency-selector
{
  position: absolute;
  left: 440px;
  top: 5px;
}

.topbar a.topbar_register
{
  position: absolute;
  left: 1248px;
  top: 5px;
  z-index: 194;
}

.topbar a.topbar_signin
{
  position: absolute;
  left: 1336px;
  top: 5px;
  z-index: 194;
} 

/* NAVIGATION */

.navigation a {
  float: left;
  display: block;
  color: black;
  text-decoration: none;
}

.navigation a:hover
{
  color: #00c8c8;
}

.navigation .logo
{
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 134px;
  top: 83px;
  z-index: 186;
}

.navigation .nav_item
{
  font-size: 13px;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: 1.538;
  text-align: right;
  position: absolute;
  top: 92px;
  z-index: 184;
}


.navigation .mens 
{
  left: 1016px;
}

.navigation .womens
{
  left: 1112px;
}

.navigation .the_brand
{
  left: 1234px;
}

.navigation .local_stores
{
  left: 1371px;
}

.navigation .navigation_lookbook
{
  left: 1530px;
}

.navigation .input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  background-color: rgba(248, 248, 248, 0);
  text-align: left;
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(152, 152, 152);
  position: absolute;
  left: 1723px;
  top: 82px;
  width: 189px;
  height: 30px;
  z-index: 175;
}

/* INTRO */

.intro
{
  position: absolute;
  left: -3px;
  top: 44px;
  width: 2053px;
  height: 920px;
}

.btn {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(115, 115, 115);
  background-color: rgba(115, 115, 115, 0);
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(69, 70, 71);
  text-transform: uppercase;
  position: absolute;
  line-height: 1.2;
  text-align: center;
}

.intro_btn{
  left: 1383px;
  top: 781px;
  width: 342px;
  height: 59px;
}
.btn:hover{
  background-color: #00c8c8;
  color:#f8f8f8;
  border-color:#00c8c8;
}

/* ITEMS */

.items_menu a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  }

  .items_menu a:hover
{
  color: #00c8c8;
}

.items_menu{
  font-size: 13px;
  font-family: "Montserrat";
  color:#7b7b7b;
  text-transform: uppercase;
  line-height: 1.538;
  text-align: left;
  position: absolute;
  width: 2050px;
  top: 1076px;
}

.popular
{
  position: absolute;
  left: 138px;
}

.new_arrivals{
  position: absolute;
  left: 256px;
}

.best_sellers{
  position: absolute;
  left: 418px;
}

.special_offers{
  position: absolute;
  left: 569px;
}

.coming_soon{
  position: absolute;
  left: 739px;
}

.items{
 position: absolute;
} 

.item1{
  left: 138px;
  top: 1153px;
}

.item2{
  left: 588px;
  top: 1153px;
}

.item3{
  left: 1038px;
  top: 1153px;
}

.item4{
  left: 138px;
  top: 1683px;
}

.item6{
  left: 1488px;
  top: 1887px;
}

.prices{
  font-size: 21px;
  font-family: "Montserrat";
  color: rgb(154, 154, 154);
  text-transform: uppercase;
  vertical-align: super;
  line-height: 1.2;
  text-align: left;
  position: absolute;
}
.price_item1{
 
  left: 153px;
  top: 1150px;
}
.price_item2{
  left: 604px;
  top: 1150px;
}

.price_item3_striked{
  left: 1053px;
  top: 1171px;
}

.price_item3{
  left: 1112px;
  top: 1150px;
}

.price_item4{
  left: 153px;
  top: 1685px;
}

.price_item6{
  left: 1502px;
  top: 1885px;
}

/* LOOKBOOK */

.lookbook{
  position: absolute;
}

.lookbook .lookbook1{
  left: 0px;
  top: 2513px;
}

.lookbook2{
  left: 693px;
  top: 2513px;
}

.lookbook3{
  left: 1385px;
  top: 2513px;

}

.lk_btn1{
  position: absolute;
  left: 427px;
  top: 2841px;
  width: 180px;
  height: 59px;
}

.lk_btn2{
  position: absolute;
  left: 1120px;
  top: 2841px;
  width: 180px;
  height: 59px;
}

.lk_btn3{
  position: absolute;
  left: 1813px;
  top: 2841px;
  width: 180px;
  height: 59px;
}

/* FOOTER */

.footer
{
  top: 3166px;
  height: 634px;
  width: 2050px;
  background-color:#f8f8f8;
  position: relative;
}
.copyright_bar{
  background-color:  #333;
  height: 45px;
  width: 2050px;
}

.banners
{
  padding: 35px 273px;
}
.banner1
{
  left: 439px;
  top: 3499px;

}
.banner2
{
  padding-left: 6px;
}

.copyright_bar a
{
  float: left;
  display: block;
  color: #858585;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 10px;
}
.copyright
{
  padding-left: 273px;
}
.designby
{
  padding-left: 273px;
}
.devby
{
  padding-left: 23px;
}

.table{
    display: flex;
    width: 730px;
    margin-left: 275px;
    margin-right: 275px;
}
.footer .footer_table
{
  display: flex;
  align-content: center;
  padding-top: 30px;
  width: fit-content;
  margin-left: 210px;
  margin-right: 210px;
}
.footer .footer_table > div{
  margin: 5px 10px;
}

